body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 80%;
    max-width: 800px; /* Aumentamos el ancho máximo */
    height: 80vh; /* Reducimos la altura para permitir el scroll */
    overflow-y: auto; /* Habilitamos el scroll vertical */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.content {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#scroll-btns {
    display: block;
}

#hide-btns {
    display: none;
}
